{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "visualizer/style.css" %}" />

{% endblock %}

{% block extrabody %}
    <div id="header">
        <ul class="nav">
            <li><a href=""> ▼ Compartir</a>
                <ul>
                    <li><a href="">Whatsapp</a></li>
                    <li><a href="">Telegram</a></li>
                    <li><a href="">Facebook</a></li>
                </ul>
            </li>
            <li><a href=""> ▼ Exportar</a>
                <ul>
                    <li><a href="">PDF</a></li>
                    <li><a href="">Excel</a></li>
                </ul>
            </li>
            <li>
                <p>Tema oscuro/claro &nbsp
                    <label class="switch">
                        <input id="checkbox_nocturno" type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                </p>
            </li>
        </ul>
    </div>


<!--
    <div id="app-visualizer">
        <!-- Navbar 
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">Decide</b-navbar-brand>
        </b-navbar>

        <div class="voting container">
            <h1>[[ voting.id ]] - [[ voting.name ]]</h1>

            <h2 v-if="!voting.start_date">Votación no comenzada</h2>
            <h2 v-else-if="!voting.end_date">Votación en curso</h2>
            <div v-else>
                <h2 class="heading">Resultados:</h2>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Opción</th>
                            <th>Puntuación</th>
                            <th>Votos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="opt in voting.postproc" :key="opt.number">
                            <th>[[opt.option]]</th>
                            <td>[[opt.postproc]]</td>
                            <td class="text-muted">[[opt.votes]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
-->

 Hola :)



{% endblock %}