{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}

{% block content %}
    <div id="app-visualizer">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">Decide</b-navbar-brand>
        </b-navbar>

        <div class="voting container">
            <h1>[[ voting.id ]] - [[ voting.name ]]</h1>

            <h2 v-if="!voting.start_date">Votación no comenzada</h2>
            <h2 v-else-if="!voting.end_date">Votación en curso</h2>
            <div v-else>
                <h2 class="heading">Resultados:</h2>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Opción</th>
                            <th>Puntuación</th>
                            <th>Votos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="opt in voting.postproc" :key="opt.number">
                            <th>[[opt.option]]</th>
                            <td>[[opt.postproc]]</td>
                            <td class="text-muted">[[opt.votes]]</td>
                        </tr>
                    </tbody>
                </table>
                <canvas id="myChart" width="200px" height="200px"></canvas>
            </div>

        </div>
    </div>
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>

    <script>
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            data: {
                voting: voting
            }
        })
    </script>
    <script>
        var ctx= document.getElementById("myChart").getContext("2d");
        var myChart= new Chart(ctx,{
            type:'bar',
            data: {
                labels: ['Candidatos'],
                datasets: [{
                        label: 'Candidato1',
                        data: [10],
                        backgroundColor: "rgb(0, 47, 255)",
                    }, {
                        label: 'Candidato2',
                        data: [7],
                        backgroundColor: "rgb(32, 194, 0)",
                    }, {
                        label: 'Candidato3',
                        data: [13],
                        backgroundColor: "rgb(252, 5, 5)",
                    }, {
                        label: 'Candidato4',
                        data: [5],
                        backgroundColor: "rgb(158, 5, 252)",
                    }, {
                        label: 'Candidato5',
                        data: [18],
                        backgroundColor: "rgb(71, 119, 209)",
                    }, {
                        label: 'Candidato6',
                        data: [1],
                        backgroundColor: "rgb(80, 199, 99)",
                    }, {
                        label: 'Candidato7',
                        data: [9],
                        backgroundColor: "rgb(217, 86, 30)",
                    }, {
                        label: 'Candidato8',
                        data: [3],
                        backgroundColor: "rgb(63, 59, 64)",
                    }, {
                        label: 'Candidato9',
                        data: [11],
                        backgroundColor: "rgb(232, 12, 100)",
                    }, {
                        label: 'Candidato10',
                        data: [13],
                        backgroundColor: "rgb(27, 161, 158)",
                    }]
            },
            options:{
                responsive: true,
                title :{
                    display: true,
                    text: "Recuento de votos general"
                },
                scales:{
                    yAxes:[{
                            ticks:{
                                beginAtZero:true
                            },
                            stacked: false
                    }]
                }
            }
        });
    </script>
</body>
{% endblock %}


