{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}

{% block content %}
    <div id="app-visualizer">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">Decide</b-navbar-brand>
        </b-navbar>

        <div class="voting container">
            <h1>[[ voting.id ]] - [[ voting.name ]]</h1>
            <h2 v-if="!voting.start_date">Votación no comenzada</h2>
            <h2 v-else-if="!voting.end_date">Votación en curso</h2>
            <div v-else>

                <div id="results">
                    <h2 class="heading">Resultados:</h2>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Opción</th>
                                    <th>Puntuación</th>
                                    <th>Votos</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="opt in voting.postproc" :key="opt.number">
                                    <th>[[opt.option]]</th>
                                    <td>[[opt.postproc]]</td>
                                    <td class="text-muted">[[opt.votes]]</td>
                                </tr>
                            </tbody>
                        </table>
                    <div v-if="voting.tipo='VP'">

                    </div>
                    <div v-else>
                        
                    </div>
                </div>
                
                <div id="statistics">                 
                    <div v-if="voting.tipo='VP'">

                    </div>
                    <div v-else>
                        
                    </div>
                </div>

                <div id="graphics">
                    <div id="votacionGeneral" v-if="voting.tipo='VG'">
                        <h2>Votación General</h2>
                        <input type="button" class="btn btn-outline-dark" value="Mostrar gráficas votación general" onclick="mostrarGraficas();">
                        <br><br>
                        <div id="allGraphics" class="col-md-6">
                            <input type="button" class="btn btn-outline-dark" value="Votos Delegado de Centro" onclick="mostrarDelegadoCentro();">
                            <br><br>
                            <div id="delegadoCentro">
                                <h6 style="text-align: center;">Votos de todos los candidatos</h6>
                                <canvas id="myChart" width="75" height="35"></canvas>
                                <h6 style="text-align: center;">Votos por sexo de cada candidato</h6>
                                <canvas id="myChart2" width="107" height="27"></canvas>
                                <canvas id="myChart3" width="107" height="27"></canvas>
                                <canvas id="myChart4" width="107" height="27"></canvas>
                                <canvas id="myChart5" width="107" height="27"></canvas>
                                <canvas id="myChart6" width="107" height="27"></canvas>
                                <canvas id="myChart7" width="107" height="27"></canvas>
                                <canvas id="myChart8" width="107" height="27"></canvas>
                                <canvas id="myChart9" width="107" height="27"></canvas>
                                <br>
                                <h6 style="text-align: center;">Media de edad de los votantes</h6>
                                <canvas id="myChart10" width="75" height="35"></canvas>
                            </div>

                            <input type="button" class="btn btn-outline-dark" value="Votos Primero" onclick="mostrarPrimero();">
                            <br><br>
                            <div id="primero">

                            </div>

                            <input type="button" class="btn btn-outline-dark" value="Votos Segundo" onclick="mostrarSegundo();">
                            <br><br>
                            <div id="segundo">
                                
                            </div>

                            <input type="button" class="btn btn-outline-dark" value="Votos Tercero" onclick="mostrarTercero();">
                            <br><br>
                            <div id="tercero">
                                
                            </div>

                            <input type="button" class="btn btn-outline-dark" value="Votos Cuarto" onclick="mostrarCuarto();">
                            <br><br>
                            <div id="cuarto">
                                
                            </div>

                            <input type="button" class="btn btn-outline-dark" value="Votos Master" onclick="mostrarMaster();">
                            <br><br>
                            <div id="master">
                                
                            </div>

                            <input type="button" class="btn btn-outline-dark" value="Votos Delegado de Alumnos" onclick="mostrarDelegadoAlumnos();">
                            <br><br>
                            <div id="delegadoAlumnos">
                                
                            </div>
                        </div> 
                    </div>

                    <div id="votacionPrimaria" v-else>

                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>

    <script>
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            data: {
                voting: voting
            }
        })
    </script>

    <script>

        function mostrarGraficas() {
            var graficas = document.getElementById("allGraphics");
            if (graficas.style.display === "none") {
                graficas.style.display = "block";
            } else {
                graficas.style.display = "none";
            }
        }

        function mostrarDelegadoCentro() {
            var delCen = document.getElementById("delegadoCentro");
            if (delCen.style.display === "none") {
                delCen.style.display = "block";
            } else {
                delCen.style.display = "none";
            }
        }

        function mostrarPrimero() {
            var first = document.getElementById("primero");
            if (first.style.display === "none") {
                first.style.display = "block";
            } else {
                first.style.display = "none";
            }
        }

        function mostrarSegundo() {
            var second = document.getElementById("segundo");
            if (second.style.display === "none") {
                second.style.display = "block";
            } else {
                second.style.display = "none";
            }
        }

        function mostrarTercero() {
            var third = document.getElementById("tercero");
            if (third.style.display === "none") {
                third.style.display = "block";
            } else {
                third.style.display = "none";
            }
        }

        function mostrarCuarto() {
            var fourth = document.getElementById("cuarto");
            if (fourth.style.display === "none") {
                fourth.style.display = "block";
            } else {
                fourth.style.display = "none";
            }
        }

        function mostrarMaster() {
            var ms = document.getElementById("master");
            if (ms.style.display === "none") {
                ms.style.display = "block";
            } else {
                ms.style.display = "none";
            }
        }

        function mostrarDelegadoAlumnos() {
            var delAlum = document.getElementById("delegadoAlumnos");
            if (delAlum.style.display === "none") {
                delAlum.style.display = "block";
            } else {
                delAlum.style.display = "none";
            }
        }

    </script>

    <script>
        var ctx= document.getElementById("myChart").getContext("2d");
        var myChart= new Chart(ctx,{
            type:'bar',
            data: {
                labels: ['Cand.1','Cand.2','Cand.3','Cand.4','Cand.5','Cand.6','Cand.7','Cand.8','Cand.9','Cand.10'],
                datasets: [{
                        label: 'Votos',
                        data: [10,7,13,5,18,1,9,3,11,13], 
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(233, 34, 240, 0.2)',
                            'rgba(34, 82, 240, 0.2)',
                            'rgba(5, 5, 5, 0.2)',
                            'rgba(247, 129, 2, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(233, 34, 240, 1)', 
                            'rgba(34, 82, 240, 1)',
                            'rgba(5, 5, 5, 1)',
                            'rgba(247, 129, 2, 1)'
                        ],
                        borderWidth: 1
                        }]
                },
            options:{
                responsive: true,
                legend :{
                    display: false
                },
                scales:{
                    yAxes:[{
                        scaleLabel: {
                            display: true,
                            labelString: "Votos"
                        },
                        ticks:{
                            beginAtZero:true
                        },
                        stacked: false
                    }]
                }
            }
        });

        var ctx= document.getElementById("myChart2").getContext("2d");
        var myChart= new Chart(ctx,{
            type:'pie',
            data: {
                labels: ['Hombres','Mujeres'],
                datasets: [{
                        label: 'Votos',
                        data: [4,9], 
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 99, 132, 0.2)'
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 99, 132, 1)'
                        ],
                        borderWidth: 1
                        }]
                },
            options:{
                responsive: true,
                title :{
                    display: true,
                    text: "Candidato 3"
                },
                legend :{
                    display: false
                },
                scales:{
                    yAxes:[{
                        ticks:{
                            beginAtZero:true
                        },
                        display: false,
                        stacked: false
                    }],
                    xAxes:[{
                        display: false
                    }]
                }
            }
        });


        var ctx= document.getElementById("myChart3").getContext("2d");
        var myChart= new Chart(ctx,{
            type:'pie',
            data: {
                labels: ['Hombres','Mujeres'],
                datasets: [{
                        label: 'Votos',
                        data: [3,2], 
                        backgroundColor: [
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(153, 102, 255, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 206, 86, 1)',
                            'rgba(153, 102, 255, 1)'
                        ],
                        borderWidth: 1
                        }]
                },
            options:{
                responsive: true,
                title :{
                    display: true,
                    text: "Candidato 4"
                },
                legend :{
                    display: false
                },
                scales:{
                    yAxes:[{
                        ticks:{
                            beginAtZero:true
                        },
                        display: false,
                        stacked: false
                    }],
                    xAxes:[{
                        display: false
                    }]
                }
            }
        });

        var ctx= document.getElementById("myChart4").getContext("2d");
        var myChart= new Chart(ctx,{
            type:'pie',
            data: {
                labels: ['Hombres','Mujeres'],
                datasets: [{
                        label: 'Votos',
                        data: [9,9], 
                        backgroundColor: [
                            'rgba(32, 247, 176, 0.2)',
                            'rgba(237, 124, 19, 0.2)'
                        ],
                        borderColor: [
                            'rgba(32, 247, 176, 1)',
                            'rgba(237, 124, 19, 1)'
                        ],
                        borderWidth: 1
                        }]
                },
            options:{
                responsive: true,
                title :{
                    display: true,
                    text: "Candidato 5"
                },
                legend :{
                    display: false
                },
                scales:{
                    yAxes:[{
                        ticks:{
                            beginAtZero:true
                        },
                        display: false,
                        stacked: false
                    }],
                    xAxes:[{
                        display: false
                    }]
                }
            }
        });

        var ctx= document.getElementById("myChart5").getContext("2d");
        var myChart= new Chart(ctx,{
            type:'pie',
            data: {
                labels: ['Hombres','Mujeres'],
                datasets: [{
                        label: 'Votos',
                        data: [1,0], 
                        backgroundColor: [
                            'rgba(0, 0, 0, 0.2)'
                        ],
                        borderColor: [
                            'rgba(0, 0, 0, 1)'
                        ],
                        borderWidth: 1
                        }]
                },
            options:{
                responsive: true,
                title :{
                    display: true,
                    text: "Candidato 6"
                },
                legend :{
                    display: false
                },
                scales:{
                    yAxes:[{
                        ticks:{
                            beginAtZero:true
                        },
                        display: false,
                        stacked: false
                    }],
                    xAxes:[{
                        display: false
                    }]
                }
            }
        });

        var ctx= document.getElementById("myChart6").getContext("2d");
        var myChart= new Chart(ctx,{
            type:'pie',
            data: {
                labels: ['Hombres','Mujeres'],
                datasets: [{
                        label: 'Votos',
                        data: [2,7], 
                        backgroundColor: [
                            'rgba(47, 30, 232, 0.2)',
                            'rgba(250, 15, 125, 0.2)'
                        ],
                        borderColor: [
                            'rgba(47, 30, 232, 1)',
                            'rgba(250, 15, 125, 1)'
                        ],
                        borderWidth: 1
                        }]
                },
            options:{
                responsive: true,
                title :{
                    display: true,
                    text: "Candidato 7"
                },
                legend :{
                    display: false
                },
                scales:{
                    yAxes:[{
                        ticks:{
                            beginAtZero:true
                        },
                        display: false,
                        stacked: false
                    }],
                    xAxes:[{
                        display: false
                    }]
                }
            }
        });

        var ctx= document.getElementById("myChart7").getContext("2d");
        var myChart= new Chart(ctx,{
            type:'pie',
            data: {
                labels: ['Hombres','Mujeres'],
                datasets: [{
                        label: 'Votos',
                        data: [2,1], 
                        backgroundColor: [
                            'rgba(191, 250, 15, 0.2)',
                            'rgba(255, 42, 0, 0.2)'
                        ],
                        borderColor: [
                            'rgba(191, 250, 15, 1)',
                            'rgba(255, 42, 0, 1)'
                        ],
                        borderWidth: 1
                        }]
                },
            options:{
                responsive: true,
                title :{
                    display: true,
                    text: "Candidato 8"
                },
                legend :{
                    display: false
                },
                scales:{
                    yAxes:[{
                        ticks:{
                            beginAtZero:true
                        },
                        display: false,
                        stacked: false
                    }],
                    xAxes:[{
                        display: false
                    }]
                }
            }
        });

        var ctx= document.getElementById("myChart8").getContext("2d");
        var myChart= new Chart(ctx,{
            type:'pie',
            data: {
                labels: ['Hombres','Mujeres'],
                datasets: [{
                        label: 'Votos',
                        data: [10,1], 
                        backgroundColor: [
                            'rgba(44, 113, 201, 0.2)',
                            'rgba(94, 255, 0, 0.2)'
                        ],
                        borderColor: [
                            'rgba(44, 113, 201, 1)',
                            'rgba(94, 255, 0, 1)'
                        ],
                        borderWidth: 1
                        }]
                },
            options:{
                responsive: true,
                title :{
                    display: true,
                    text: "Candidato 9"
                },
                legend :{
                    display: false
                },
                scales:{
                    yAxes:[{
                        ticks:{
                            beginAtZero:true
                        },
                        display: false,
                        stacked: false
                    }],
                    xAxes:[{
                        display: false
                    }]
                }
            }
        });

        var ctx= document.getElementById("myChart9").getContext("2d");
        var myChart= new Chart(ctx,{
            type:'pie',
            data: {
                labels: ['Hombres','Mujeres'],
                datasets: [{
                        label: 'Votos',
                        data: [6,8], 
                        backgroundColor: [
                            'rgba(186, 134, 235, 0.2)',
                            'rgba(227, 247, 146, 0.2)'
                        ],
                        borderColor: [
                            'rgba(186, 134, 235, 1)',
                            'rgba(227, 247, 146, 1)'
                        ],
                        borderWidth: 1
                        }]
                },
            options:{
                responsive: true,
                title :{
                    display: true,
                    text: "Candidato 10"
                },
                legend :{
                    display: false
                },
                scales:{
                    yAxes:[{
                        ticks:{
                            beginAtZero:true
                        },
                        display: false,
                        stacked: false
                    }],
                    xAxes:[{
                        display: false
                    }]
                }
            }
        });

        var ctx= document.getElementById("myChart10").getContext("2d");
        var myChart= new Chart(ctx,{
            type:'bar',
            data: {
                labels: ['Cand.1','Cand.2','Cand.3','Cand.4','Cand.5','Cand.6','Cand.7','Cand.8','Cand.9','Cand.10'],
                datasets: [{
                        label: 'Edad',
                        data: [22,35,57,29,31,66,20,18,43,38], 
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(233, 34, 240, 0.2)',
                            'rgba(34, 82, 240, 0.2)',
                            'rgba(5, 5, 5, 0.2)',
                            'rgba(247, 129, 2, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(233, 34, 240, 1)', 
                            'rgba(34, 82, 240, 1)',
                            'rgba(5, 5, 5, 1)',
                            'rgba(247, 129, 2, 1)'
                        ],
                        borderWidth: 1
                        }]
                },
            options:{
                responsive: true,
                legend :{
                    display: false
                },
                scales:{
                    yAxes:[{
                        scaleLabel: {
                            display: true,
                            labelString: "Edad"
                        },
                        ticks:{
                            min: 10,
                            max: 70,
                            beginAtZero: false,
                        },
                        stacked: false
                    }]
                }
            }
        });

    </script>
</body>
{% endblock %}


