*{
  margin: 0px !important;
  padding: 0px !important;
  font-family: sans-serif !important;
}

.menu a
{
  color: white !important;
  text-decoration: none !important;
}

.menu a:visited
{
  color:white !important;
}

.menu a:hover
{
  text-decoration: underline !important;
}

.menu 
{
  width: 100% !important; 
  display: flex !important;
  flex-direction: row !important;
  background-color: #00b894 !important;
  height: 75px !important;
  color: white !important;
}

.menu span
{
  flex-grow: 1 !important;
  padding: 10px !important;
  align-self: center !important;
}

.menu ul
{
  direction: lt !important;
  display: flex !important;
  flex-grow: 1 !important;
  align-self: center !important;
  justify-content: flex-end !important;
  list-style-type: none !important;
}

.menu ul li
{
  padding: 10px !important;
}